In [4]:
import pandas as pd

In [5]:
from sklearn import tree
#from sklearn.tree import DecisionTreeClassifier
from sklearn.tree import DecisionTreeRegressor
from sklearn.tree import export_graphviz

In [6]:
#Three lines to make our compiler able to draw:
import sys
import matplotlib
matplotlib.use('Agg')
import matplotlib.pyplot as plt
import graphviz

In [7]:
data = pd.read_csv('kz.csv')

In [8]:
data

,event_time,order_id,product_id,category_id,category_code,brand,price,user_id
0,2020-04-24 11:50:39 UTC,2294359932054536986,1515966223509089906,2.268105e+18,electronics.tablet,samsung,162.01,1.515916e+18
1,2020-04-24 11:50:39 UTC,2294359932054536986,1515966223509089906,2.268105e+18,electronics.tablet,samsung,162.01,1.515916e+18
2,2020-04-24 14:37:43 UTC,2294444024058086220,2273948319057183658,2.268105e+18,electronics.audio.headphone,huawei,77.52,1.515916e+18
3,2020-04-24 14:37:43 UTC,2294444024058086220,2273948319057183658,2.268105e+18,electronics.audio.headphone,huawei,77.52,1.515916e+18
4,2020-04-24 19:16:21 UTC,2294584263154074236,2273948316817424439,2.268105e+18,NaN,karcher,217.57,1.515916e+18
...,...,...,...,...,...,...,...,...
2633516,2020-11-21 10:10:01 UTC,2388440981134693942,1515966223526602848,2.268105e+18,electronics.smartphone,oppo,138.87,1.515916e+18
2633517,2020-11-21 10:10:13 UTC,2388440981134693943,1515966223509089282,2.268105e+18,electronics.smartphone,apple,418.96,1.515916e+18
2633518,2020-11-21 10:10:30 UTC,2388440981134693944,1515966223509089917,2.268105e+18,appliances.personal.scales,vitek,12.48,1.515916e+18
2633519,2020-11-21 10:10:30 UTC,2388440981134693944,2273948184839454837,2.268105e+18,NaN,moulinex,41.64,1.515916e+18
2633520,2020-11-21 10:10:30 UTC,2388440981134693944,1515966223509127566,2.268105e+18,appliances.kitchen.blender,redmond,53.22,1.515916e+18

In [9]:
dataset = data[ ["order_id" , "product_id" , "category_id"  , "brand" , "price" , "user_id"] ]

In [10]:
dataset

,order_id,product_id,category_id,brand,price,user_id
0,2294359932054536986,1515966223509089906,2.268105e+18,samsung,162.01,1.515916e+18
1,2294359932054536986,1515966223509089906,2.268105e+18,samsung,162.01,1.515916e+18
2,2294444024058086220,2273948319057183658,2.268105e+18,huawei,77.52,1.515916e+18
3,2294444024058086220,2273948319057183658,2.268105e+18,huawei,77.52,1.515916e+18
4,2294584263154074236,2273948316817424439,2.268105e+18,karcher,217.57,1.515916e+18
...,...,...,...,...,...,...
2633516,2388440981134693942,1515966223526602848,2.268105e+18,oppo,138.87,1.515916e+18
2633517,2388440981134693943,1515966223509089282,2.268105e+18,apple,418.96,1.515916e+18
2633518,2388440981134693944,1515966223509089917,2.268105e+18,vitek,12.48,1.515916e+18
2633519,2388440981134693944,2273948184839454837,2.268105e+18,moulinex,41.64,1.515916e+18
2633520,2388440981134693944,1515966223509127566,2.268105e+18,redmond,53.22,1.515916e+18

In [11]:
#dataset["brand"] = pd.to_numeric(dataset["brand"])

In [12]:
dataset.brand.unique()[1]

'huawei'

In [13]:
dataset = dataset[ dataset["brand"].astype(str).str.isnumeric() == False ]
dataset = dataset[ dataset['brand'].notna() ] 
dataset = dataset[ dataset['price'].notna() ] 
dataset = dataset[ dataset['order_id'].notna() ] 
dataset = dataset[ dataset['product_id'].notna() ] 
dataset = dataset[ dataset['category_id'].notna() ] 
dataset = dataset[ dataset['user_id'].notna() ] 
dataset

,order_id,product_id,category_id,brand,price,user_id
0,2294359932054536986,1515966223509089906,2.268105e+18,samsung,162.01,1.515916e+18
1,2294359932054536986,1515966223509089906,2.268105e+18,samsung,162.01,1.515916e+18
2,2294444024058086220,2273948319057183658,2.268105e+18,huawei,77.52,1.515916e+18
3,2294444024058086220,2273948319057183658,2.268105e+18,huawei,77.52,1.515916e+18
4,2294584263154074236,2273948316817424439,2.268105e+18,karcher,217.57,1.515916e+18
...,...,...,...,...,...,...
2633516,2388440981134693942,1515966223526602848,2.268105e+18,oppo,138.87,1.515916e+18
2633517,2388440981134693943,1515966223509089282,2.268105e+18,apple,418.96,1.515916e+18
2633518,2388440981134693944,1515966223509089917,2.268105e+18,vitek,12.48,1.515916e+18
2633519,2388440981134693944,2273948184839454837,2.268105e+18,moulinex,41.64,1.515916e+18
2633520,2388440981134693944,1515966223509127566,2.268105e+18,redmond,53.22,1.515916e+18

In [14]:
brands = {}
for ind , x in enumerate(dataset.brand.unique()):
    brands[x]=ind
#brands

In [15]:
dataset['brand'] = dataset['brand'].map(brands)
#dataset = dataset.replace({"brand": brands})
dataset

,order_id,product_id,category_id,brand,price,user_id
0,2294359932054536986,1515966223509089906,2.268105e+18,0,162.01,1.515916e+18
1,2294359932054536986,1515966223509089906,2.268105e+18,0,162.01,1.515916e+18
2,2294444024058086220,2273948319057183658,2.268105e+18,1,77.52,1.515916e+18
3,2294444024058086220,2273948319057183658,2.268105e+18,1,77.52,1.515916e+18
4,2294584263154074236,2273948316817424439,2.268105e+18,2,217.57,1.515916e+18
...,...,...,...,...,...,...
2633516,2388440981134693942,1515966223526602848,2.268105e+18,98,138.87,1.515916e+18
2633517,2388440981134693943,1515966223509089282,2.268105e+18,4,418.96,1.515916e+18
2633518,2388440981134693944,1515966223509089917,2.268105e+18,26,12.48,1.515916e+18
2633519,2388440981134693944,2273948184839454837,2.268105e+18,28,41.64,1.515916e+18
2633520,2388440981134693944,1515966223509127566,2.268105e+18,35,53.22,1.515916e+18

In [16]:
features = [ 'order_id', 'product_id', 'category_id', 'brand' , 'user_id' ]

X = dataset[features]
y = dataset['price']

In [17]:
#dtree = DecisionTreeClassifier()
dtree = DecisionTreeRegressor(random_state = 0) 
dtree = dtree.fit(X, y)

In [18]:
#tree.plot_tree(dtree, feature_names=features)

#Two  lines to make our compiler able to draw:
#plt.savefig(sys.stdout.buffer)
#sys.stdout.flush()

In [19]:
export_graphviz(dtree, out_file ='tree.dot',
               feature_names =[ 'order_id' , 'product_id' , 'category_id' , 'brand' , 'user_id' ])

In [21]:
#graphviz.Source.from_file('C:\\Users\\Abdelali\\Desktop\\data_exr\\tree.dot')

In [22]:
import os
os.getcwd()

'C:\\Users\\Abdelali\\Desktop\\data_exr'

In [23]:
y_pred = dtree.predict([[160]])
  
# print the predicted price
print("Predicted price: % d\n"% y_pred)

C:\Users\Abdelali\.virtualenvs\data_exr-oJx7DUuu\lib\site-packages\sklearn\base.py:420: UserWarning: X does not have valid feature names, but DecisionTreeRegressor was fitted with feature names
  warnings.warn(

ValueError: X has 1 features, but DecisionTreeRegressor is expecting 5 features as input.